Skip to content
 
Search…
All gists
Back to GitHub
@sirdnt 
@santoshpurbey
santoshpurbey/.gitignore
Last active 5 hours ago • Report abuse
25
12
 Code
 Revisions 6
 Stars 25
 Forks 12
<script src="https://gist.github.com/santoshpurbey/6f982faf1eacdac153ffd86a3a694239.js"></script>
gitignore file for django project
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
.vscode
# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid

# Ignore Django Migrations in Development if you are working on team

# Only for Development only
# **/migrations/**
# !**/migrations
# !**/migrations/__init__.py
@bouwehand
bouwehand commented on Aug 7
nice! tnx!

@abdulrahmanthebrit
abdulrahmanthebrit commented on Aug 8
Great. Thanks for the file.

@ayush-mandowara-bst
ayush-mandowara-bst commented on Aug 8
Hi, why do you have migrations in your .gitignore file?

@santoshpurbey
Owner
Author
santoshpurbey commented on Aug 9
Hi, why do you have migrations in your .gitignore file?

if you are working on the git and sometimes you get a lot of git issues due to migration conflicts in development. It's not recommended for production.

@opeerator
opeerator commented on Aug 12
Migration files are part of the code base and should be committed.

@santoshpurbey
Owner
Author
santoshpurbey commented on Aug 15
Migration files are part of the code base and should be committed.

Hello @opeerator

I agree but in some cases, due to migration conflict, I chose to ignore it.

@anton-adamiv
anton-adamiv commented on Aug 21
Hello @santoshpurbey
What about data migrations?

@iamnur
iamnur commented on Aug 22
Awesome

@santoshpurbey
Owner
Author
santoshpurbey commented on Aug 24
Hello @santoshpurbey
What about data migrations?

Thank you for pointing import stuff about database migrations, I've created this gist for my use-case where I've faced migrations issue while working with git so I put it in git ignore file but aware of this and only useful for development environment but not for production where we need the most. Interesting fact: unexpectedly this gist appeared on top in google search.

@sirdnt
 
Leave a comment

Attach files by dragging & dropping, selecting or pasting them.
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
